@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
  background-color: $yellow;
  position: relative;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid black;
    border-right: 100px solid transparent;
  }
  &__logo-svg {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
